if SHIELD_MACROPAD_V5_LEFT
    config ZMK_KEYBOARD_NAME
        default "Macropad_V5"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

endif

if SHIELD_MACROPAD_V5_LEFT || SHIELD_MACROPAD_V5_RIGHT

config ZMK_SPLIT
    default y

endif
